#///////////////////////////
# Cocos Creator 3.x Project
#///////////////////////////
library/
temp/
local/
build/
profiles/v2/packages/scene.json
native/

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# Editors
#//////////////////////////
.idea/
*.iml
.vscode/launch.json

#//////////////////////////
# OS / misc
#//////////////////////////
.DS_Store
*.log
*.tmp
assets/**/*.meta.bak
